button img{
    width: 100%;
}

button span{
    width: 100%;
    position: absolute;
    padding: 0.5rem;
    color: black;
    z-index: 10;
}

button{
    position: relative;
}

.invisible{
    background-color: rgba(240, 248, 255, 0) !important;
}

.b2{
    height: 46.2rem;
    width: 30rem;
}

@media screen and (max-width: 431px) {
    .b2{
        width: auto;
    }
    
}