.pfp_option{
    border-radius: 1rem;
    background-color: rgba(21, 21, 44, 0.818);
    padding: 1rem;
}

.pfp_option img{
    aspect-ratio: initial;
}

input{
    background-color: rgb(50, 66, 85);
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
}