*{
  transition: all ease 0.1s;

  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

#root,body{
  margin: 0rem;
  padding: 0rem;
  background-color: #272727;
   background-image: url('assets/background/galaxy.png');
}

.desktop{
  padding: 1rem;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-acciones{
  background-color: #404040;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-image: url("./assets/background/background-uniform.jpg");
  border: 16px solid transparent;
  border-image: url("./assets/background/border.jpg") 16 repeat;
}

.dungeon-port{
  min-height: 18rem;
  width: 100%;
}

.flex{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.row{
  flex-direction: row;
}

.col{
  flex-direction: column;
}

.pad-05{
  padding: 0.25rem
} 
.pad-1{
  padding: 0.5rem;
}

img{
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(0px 0px 10px black);
}

.center{
  justify-content: center;
}

.w100{
  width: 100vw;
}

.monster{
  width: 7rem;
  height: 7rem;
}

.background-texto{
  background-color: rgb(255, 255, 255);
}

.green{
  color: #5384ad;
}

#dungeon-selector-level{
  width: 20rem;
  height: 20rem;
  background-color: #374556;
}

.dungeon-selector-buttons{
  button{
    height: 2rem;
    background-color: #404040;
    border: 0rem;
    color: rgb(236, 229, 229);
  }
}

button{
  height: 2rem;
  background-color: #12171e;
  border: none;
  color: rgb(205, 210, 235);
  text-transform: capitalize;
}

button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

button:disabled:hover{
  transform: scale(1);
  cursor: pointer;
}

button.active{
  background-color: rgb(25, 59, 59);
  color: rgb(147, 203, 203);
}

button:disabled{
  background-color: rgb(55, 55, 61);
  color: rgb(192, 210, 210);
}


.slot-item{
  width: 4rem;
  height: 4rem;
  background-color: #131921;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: #000000 0px solid;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 5px black);
}

.slot-item:hover{
  border: #b59191 2px solid;
  box-sizing: border-box;
}

.slot-item .tooltip-count{
  position: absolute;
  bottom: 0rem;
  right: 0rem; 

  position: absolute;
  right: 0rem;
  bottom: 0rem;
  align-items: center;
  background-color: #2C3343;
  width: 1rem; 
  height: 1rem; 
  text-align: center;
  color: rgb(191, 202, 211);
  border-top-left-radius: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.1rem;
}

.slot-item-selected{
  box-sizing: border-box;
  border: 5px solid rgb(62, 107, 144);;
}

.mapa-mundo{
  background-color: #272727;
  background-image: url(./assets/background/galaxy.png);
  background-repeat: repeat;
  height: 100dvh !important;
  padding: 2rem;
  border: 16px solid transparent;
  border-left: none;
  border-image: url("./assets/background/border.jpg") 16 repeat;
  overflow-y: scroll;

  img{
    width: 4rem;
    height: 4rem;
    animation: animationShip 5s ease-in-out infinite;
  }
}

@keyframes animationShip {
  0% {
    transform: scale(1) translateY(-0rem);
  }
  50% {
    transform: scale(1.05) translateY(-1rem);
  }
  100% {
    transform: scale(1) translateY(-0rem);
  }
}

.stats-section{
  color: rgb(230, 230, 230);
}

.background-comercio{
  background-color: #373535;
}

.text-center{
  text-align: center;
  text-justify: center;
}

@media screen and (max-width: 719px) {
  .background-inventario{
    background-size: 50% !important;
  }

  .mapa-mundo{
    padding-top: 3rem;
  }

  #root{
    scrollbar-width: none;
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .menu-acciones{
    background-color: #272727cd;
    height: 100dvh;
  }

  .max-w{
    overflow-x: hidden;
  }

}

.max-h{
  height: 100dvh;
  overflow-y: scroll;
  overflow-x: hidden;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #081227 #11182700;
}

/* Chrome, Edge y Safari */
::-webkit-scrollbar {
    width: 10px;
    background: #081227;
}

::-webkit-scrollbar-track {
    background: #081227;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #081227, #081227);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #081227, #081227);
  }

table{
  width: 100%;
}

th{
  text-transform: capitalize;
}

.disabled{
  filter: grayscale(1) !important;
}

.unselected{
  filter: grayscale(0.8);
}

.no-shadow{
  filter: none;
}

.high-contrast{
  color: black;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.mid-contrast{
  color: black;
  text-shadow: 2px 0 #ddd, -2px 0 #ddd, 0 2px #ddd, 0 -2px #ddd,
    1px 1px #ddd, -1px -1px #ddd, 1px -1px #ddd, -1px 1px #ddd;
}

.gap-05{
  gap: 0.5rem;
}

.gap-1{
  gap: 1rem;
}

.gap-15{
  gap: 1.5rem;
}

.wrap{
  flex-wrap: wrap;
}

.space-ship-battle{
  transform: rotate(180deg);
}

.space-ship-battle img:first-child{
  animation: ship-horizontal 10s ease 0s infinite;
}

@keyframes ship-horizontal  {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.space-ship-battle img:last-child{
  animation: ship-horizontal2 10s ease 0s infinite;
}

@keyframes ship-horizontal2{
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media only screen and (min-width: 720px) {
  .principal-view{
    padding: 0;
    backdrop-filter: blur(3px) grayscale(0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .w100{
    width: 30rem;
  }
}